/AudioManager.asset
/ClusterInputManager.asset
/DynamicsManager.asset
/EditorBuildSettings.asset
/EditorSettings.asset
/InputManager.asset
/NavMeshAreas.asset
/Physics2DSettings.asset
/PresetManager.asset
/ProjectSettings.asset
/ProjectVersion.txt
/QualitySettings.asset
/TagManager.asset
/TimeManager.asset
/UnityConnectSettings.asset
/VFXManager.asset
/graphicssettings.asset
